# Temperature Analysis I

Hawaii is reputed to enjoy mild weather all year. Is there a meaningful difference between the temperature in, for example, June and December?

In [1]:
 import pandas as pd
from datetime import datetime as dt

In [2]:
 # "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df= df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [5]:
# Drop the date column
df=df[['station', 'prcp', 'tobs']]
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [14]:
# Filter data for desired months
june_df = df.loc[df.index.month==6]
june_df.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [15]:
dec_df = df[df.index.month==12]
dec_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [17]:
# Identify the average temperature for June
june_avg_temp = june_df['tobs'].mean()
june_avg_temp

74.94411764705882

In [18]:
# Identify the average temperature for December
dec_avg_temp = dec_df['tobs'].mean()
dec_avg_temp

71.04152933421226

In [43]:
# Create collections of temperature data
dec_df = dec_df.dropna()
dec_df_sample = dec_df.sample(1000)

In [44]:
june_df = june_df.dropna()
june_df_sample = june_df.sample(1000)

In [45]:
# Run paired t-test
stats.ttest_rel(a=dec_df_sample['tobs'], b=june_df_sample['tobs'])

Ttest_relResult(statistic=-24.794945237203624, pvalue=3.7529644986986795e-106)